@charset "UTF-8";

html{
    font-size: 100%;
}
body{
    font-family: "微軟正黑體",sans-serif;
    line-height: 1.7;
    color:#432;
}

a{
    text-decoration: none;
    color:#432;
}

img{
    max-width:100%;
}

.menu{
    
    display: flex;
    
    margin: 1%;
    justify-content: flex-end;
    gap: 10px;
}

.goback{
    justify-content: flex-end;
}

a:hover{
    color:rgb(255, 166, 0);
}

.aboutme-title{
    text-align: center;
}

.aboutme-title2{
    text-align: center;
}

table{
    margin-left:auto; 
    margin-right:auto;
}

.container p{
    color:rgb(160, 160, 160);
}

.big-bg{
    background-size: cover;
    background-position:center top ;
    background-repeat: no-repeat;
}

#home{
    background-image: url(image/bg.jpg);
    min-width: 100vh;
}

